



.clicker {
    background-color: #ffffff;
    cursor: default;
}

.clicker:hover {
    background-color: #d1d1d1;
    cursor: default;
}

.clicker:active {
    background-color: #a1a1a1;
    cursor: default;
}