.Login-Page {
  text-align: center;
  cursor: default;
}

h3 {
    color: #005ed1;

}

h3:hover {
    color: #029ee6;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 10rem;
    height: 1rem;
    margin: 10px;
}

.submit-button {
    height: 1.5rem;
}